 @import url('https://fonts.googleapis.com/css2?family=Chela+One&family=Roboto:wght@300;400&display=swap');
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
img{
    width: 100px;
}
h2 , h4 {
    font-family: 'Chela One', cursive;
}

h3{
    font-family: 'Roboto' 'sans-serif';
}